.mainWrapper{
  background-color: blueviolet;
}
.header{
  background-color: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  height: auto;
  padding: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: sticky;
  top:0;
  z-index: 1000;
}
.footer{
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  height: auto;
  padding: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
}