.header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  .brand{
    background-color: #591499;
    width: 60px;
    text-align: center;
    border-radius: 17px;
    h3{
      font-size: 2rem;
      font-family: myFont, sans-serif;
      font-weight: bold;
      color: #fafafa;
      margin: 0;
    }
  }
  .search{
    background-color: #591499;
    width: 60px;
    text-align: center;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      font-size: 2rem;
      font-family: myFont, sans-serif;
      font-weight: bold;
      color: #fafafa;
      margin: 0;
    }
  }
}